<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @test.question %>
</p>

<p>
  <strong>Code:</strong>
  <%= @test.code %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
