<!DOCTYPE html>
<html>
  <head>
    <title>Jnr Hub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </head>

  <body>
    <nav class="top-nav">
    <div class="left-nav">
      <%= link_to "Home Page", root_path, :class => "mdl-button" %>
    </div>
    <div class="right-nav">
    <% if @current_user.present? %>
          Logged in as <a href="/users/<%= @current_user.id %>"><%= @current_user.full_name %></a>

          <% if @current_user.user_type == "employer" %>
          (Employer)
          <% end %>
          <% if @current_user.user_type == "jobseeker" %>
          (Job Seeker)
          <% end %>
          <% if @current_user.admin? %>
          (Administrator)
          <%= link_to "New Skill", new_skill_path, :class => "mdl-button" %>
          <% end %>
          <% if @current_user.admin? || @current_user.user_type == "employer" %>
          <%= link_to "New Job", new_job_path, :class => "mdl-button" %>
          <%= link_to "New Test", new_test_path, :class => "mdl-button" %>
          <% end %>
          <%= link_to "Logout", login_path, method: 'delete', :class => "mdl-button", :onClick => 'alert("You have been logged out")'%>
          <% else %>
          <%= link_to "Login", login_path, :class => "mdl-button"  %>
          <%= link_to 'Sign Up', new_user_path, :class => "mdl-button" %>
          <% end %>
        </div>
      </nav>
        <br>
    <%= yield %>

  </body>
</html>
